
<h1>所有话题</h1>

<%= link_to '新建话题', new_topic_path %>


<ul>
  <% @topics.each do |topic| %>
    <li>
        <%= link_to topic.title, topic%>
    </li>
  <% end %>
</ul>

<table>
    <tr>
        <th>标题</th>
        <th>内容</th>
    </tr>
   <% @topics.each do |topic| %>
    <tr>
        <td><%= topic.title %></td>
        <td><%= topic.content %></td>
        <td><%= link_to '详情', topic_path(topic) %></td>  
        <td><%= link_to '编辑', edit_topic_path(topic) %></td>
        <td><%= link_to '删除', topic_path(topic), 
                "turbo_method": :delete, 
                "turbo_confirm": '你确定吗？' %></td>
    </tr>
   <% end %>
</table>
